<div style="text-align:center">
        <h1>
          New Game
        </h1>
</div>

<div style="text-align: center; margin-top: -50px;">
    <div class="newGameTables">
        <app-battle-field-view (onCellClick)="this.putShip($event)" (onCellMouseOver)="this.shipInAir($event)" (onCellMouseLeave)="this.flewAway($event)" [field]="this.myBoard" [styles]="this.myFieldStyles"></app-battle-field-view>
    </div>
    <div class="newGameTables">
            <table class="boardtable" style="width: 350px; height: 350px;">
                <th>Ships</th>
                <tr *ngFor="let i of [0,1,2,3];">
                    <td>  
                        <div>
                            <table class="shipTable">
                                <tr class="shipTr" [class.ready]="isShipTaked[i]" id="{{ 'ship'+i}}" (click)="takeShip(i)"><td class="shipTd" *ngFor="let j of shipsTable[i];"></td></tr>
                            </table> 
                        </div>
                    </td>
                    <td style="font-size: 2.1rem; font-weight: 350; ">{{ships[3-i]}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 0px; text-align:left; padding-left: 0px; padding-bottom: 0px;">
                        <div id="turn_over" class="controlButton" [class.ready]="isVerticalMode" (click)="turnShip()" style="margin-right: 2em; margin-left: -1px;">
                        </div>
                        <div id="eraser" class="controlButton" [class.an_available]="isReady" (click)="eraser()"></div>
                    </td>
                </tr>
            </table>
    </div>
</div>

<div style="text-align: center; width: 102%;">
    <div id="start" class="start" [class.ready]="isReady" (click)="startGame()">
            <h2>Start</h2>
    </div>
</div>


