<div style="text-align:center">
    <ng-container *ngIf = "gameStatus=='play'; then play;"></ng-container>
    <ng-container *ngIf = "gameStatus=='wait'; then wait;"></ng-container>
    <ng-container *ngIf = "gameStatus=='win'; then win;"></ng-container>
    <ng-container *ngIf = "gameStatus=='lose'; then lose;"></ng-container>
    <ng-template #play>
        <h1 style="color: rgb(19, 196, 19)">
            Your turn
        </h1>
    </ng-template>
    <ng-template #wait>
        <h1 style="color: rgb(220, 20, 20)">
            Opponent's move
        </h1>
    </ng-template>
    <ng-template #win>
        <h1 style="color: rgb(19, 196, 19)">
            You win!
        </h1>
    </ng-template>
    <ng-template #lose>
        <h1 style="color: rgb(220, 20, 20)">
            You lose!
        </h1>
    </ng-template>
</div>

<div style="text-align: center; margin-top: -50px;">
    <div class="newGameTables">
        <app-battle-field-view [field]="this.myField" [styles]="this.myFieldStyles"></app-battle-field-view>
    </div>
    <div class="newGameTables">
        <app-battle-field-view (onCellClick)="this.shot($event)" [field]="this.enemyField" [styles]="this.enemyFieldStyles"></app-battle-field-view>
        <!-- <app-enemy-board (onChanged)="onChanged($event)" [myEnemyBoard]="myEnemyBoard"></app-enemy-board> -->
    </div>
</div>
