<!--The content below is only a placeholder and can be replaced.-->
<div style="width: 100%; position:absolute; text-align:center; z-index: -2;">
    <div class="noteDiv">
    </div>
</div>

<div style="text-align:center;">
  <h1>
    {{ title }}
  </h1>
</div>
<ng-container *ngIf = "gameStatus=='home'; then home;"></ng-container>
<ng-container *ngIf = "gameStatus=='new'; then new;"></ng-container>
<ng-container *ngIf = "gameStatus=='start'; then start;"></ng-container>
<ng-template #home>
  <div >
    <table class="roomTable">
      <tr *ngFor="let i of [0,1,2];" class="roomtr" (click)="joinRoom(i)">
        <td style="width: 85%;">Room {{i+1}}</td>
        <td style="border-left: 0px;">{{rooms[i]}}/2</td>
      </tr>
    </table>
  </div>
</ng-template>

<ng-template #new>
  <app-new-game [socket]="socket" [playerId]="playerId" [currentRoom]="currentRoom"></app-new-game>
</ng-template>

<ng-template #start>
    <app-on-game [socket]="socket" [playerId]="playerId" [currentRoom]="currentRoom"></app-on-game>
</ng-template>
<notifier-container></notifier-container>
<router-outlet></router-outlet>
